language: ruby

cache: bundler
rvm:
    - 2.6.0

bundler_arg: --without production

before_script:
    - RAILS_ENV=test bundle exec rake db:setup


addons:
    apt:
        packages:
            - libqtwebkit-dev