language: ruby

cache: bundler
rvm:
    - 2.6.0

bundler_arg: --without production

before_script:
    - cp config/database.yml.travis config/database.yml
    - psql -c 'create database travis_ci_test;' -U postgres
    - RAILS_ENV=test bundle exec rake db:setup
script:
    - bundle exec rails webpacker:compile
services:
    - postgresql

addons:
    apt:
        packages:
            - libqtwebkit-dev